{% extends "base/layouts/base.html" %}

{% block content %}
    {% with page = "home" %}
        {% include "base/components/navbar.html" %}
    {% endwith %}

    <!-- jumbotron -->
    <div class="jumbotron jumbotron-fluid jumbotron-home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="text-center">
                        <img src="/assets/img/logo-blue.svg" width="128" height="128"/>
                        <div class="text-light">
                        <h1 class="font-heavy">quillo</h1>
                        <h4 class="font-light">Share your word, with the world.</h4>
                    </div>
                    </div>

                    <div class="my-4">
                        {% with size = "lg" %}
                            {% include "base/components/search.html" %}
                        {% endwith %}
                    </div>
                    
                </div>
            </div>

            <!--
            <div class="ml-auto">
                {% include "base/components/social.html" %}
            </div>
            -->

        </div>
    </div>
    <!-- jumbotron end -->

    <div class="container">
        {% with quotes = quotes %}
            {% include "base/components/gallery.html" %}
        {% endwith %}
    </div>

{% endblock %}