<nav class="navbar navbar-dark bg-dark {% if page == "home" %} fixed-top bg-transparent {% endif %}">
<!-- <nav class="navbar navbar-dark bg-dark"> -->
    <div class="container">
        {% if page != "home" %}
        <a class="navbar-brand" href="/">
            <img src="/assets/img/logo.svg" width="30" height="30"/>
        </a>
        {% endif %}
        {% if page != "home" %}
            {% with inline = True %}
                {% include "base/components/search.html" %}
            {% endwith %}
        {% endif %}
        <div class="ml-auto">
            <form class="form-inline">
                {% if page in ["home", "signup"] %}
                    <a href="{{ url('signin') }}" class="btn btn-outline-secondary {% if page == "home" %} mr-2 {% endif %}">
                        Sign In
                    </a>
                {% endif %}
                {% if page in ["home", "signin"] %}
                    <a href="{{ url('signup') }}" class="btn btn-outline-primary">
                        Sign Up
                    </a>
                {% endif %}
            </form>
        </div>
    </div>
</nav>