<form class="{% if inline %} form-inline {% endif %}">
    <div class="input-group {% if size %}input-group-{{ size }}{% endif %}">
        <input class="form-control"
            placeholder="{{ 'Search for quotes, stories and more...' if size == 'lg' else 'Search' }}"/>
        <div class="input-group-append">
            <button class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>