<ul class="list-unstyled list-inline {% if class %}{{ class }}{% endif %} no-margin">
    <li class="list-inline-item">
        <span class="fab fa-facebook-f"></span>
    </li>
    <li class="list-inline-item">
        <span class="fab fa-instagram"></span>
    </li>
    <li class="list-inline-item">
        <span class="fab fa-twitter"></span>
    </li>
</ul>